<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Student list entry</title>

</head>
<body>
     
            <form class="data" action="/create" method="POST">
                <label for="first">Name:</label>
                <input type="text" name="ele1" placeholder="Enter the name">
                <label for="second">Class:</label>
                <input type="text" name="ele2" placeholder="Enter the class">
                <label for="third">Age:</label>
                <input type="text" name="ele3" placeholder="Enter the age">
                <label for="fourth">Grade:</label>
                <input type="text" name="ele4" placeholder="Enter the grade">
                <input type="submit" name="button"  placeholder="submit" style="margin:.5em 1em ;" >
               
            </form>
            <hr style="border-top: 1px dotted red;">
        
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Age</th>
                        <th>Grade</th>
                    </tr>
                    
                </thead>
               
              <% studentej.forEach(function(students){ %>  
                <div class="item">
                   
                        <tbody>
                            <tr>
                                <td><p ><%= students.name%></p></td>
                                <td><p><%= students.class%></p></td>
                                <td><p><%= students.age%></p></td>
                                <td><p><%= students.grade%></p></td>
                                <td class="no_border" >
                                    <form class="delete" action="/delete" method="post">
                                        <button name="delete_button" value="<%= students._id%>" style="display: initial; border: 0!;" id="btn">
                                            Delete    
                                        </button>
                                    </form>
                                </td>
                                <td class="no_border" >
                                    
                                    <form action="/update_get" method="post">
                                        <button  name="update_button" value="<%= students._id%>" style="display: initial; border: 0!;" onclick="openForm()">
                                            update    
                                        </button>
                                    </form>                               
                                </td>
                            </tr>
                        </tbody>
                        <%})%>
                       
                    </div>
                    
            </table>
            <form action="/update_post" method="put" class="form-popup" id="myForm">
                <label for="first">Name:</label>
                <input type="text" name="ele5" placeholder="Enter the name" >
                <label for="second">Class:</label>
                <input type="text" name="ele6" placeholder="Enter the class" >
                <label for="third">Age:</label>
                <input type="text" name="ele7" placeholder="Enter the age"  >
                <label for="fourth">Grade:</label>
                <input type="text" name="ele8" placeholder="Enter the grade" >
                <input   type="submit" name="button"  placeholder="submit" style="margin:.5em 1em ;" onclick="closeForm()">
            </form>
            
            
               
     
                
              
            <script>
                function openForm() {
                  document.getElementById("myForm").style.display = "block";
                }
                
                function closeForm() {
                  document.getElementById("myForm").style.display = "none";
                }
            </script>                  

             
          
   
</body>
</html>